# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media
settings.py
.idea/


# If you are using PyCharm #
# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf


# Python #
*.py[cod]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
myenv/
ENV/
env.bak/
venv.bak/

# mypy
.mypy_cache/


